.mainLayout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1rem;
  flex: 1;
}