
.gridNews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2rem;

}
.newsContainer {
  display: flex;
  width: 100%;

}
.mainColor {
  background-color: var(--bg-color);
  color: var(--heading-color);
}
.newsLeft {
  width: 30%;
}
.listNewsNoImage {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.standingsdiv {
  width: 30%;
}

.themeToggleBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  padding: 10px 0;
  height: 40px;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);
  color: var(--text-color);
  cursor: pointer;
  z-index: 1000;
  width: 100%;
  max-width: 200px;
}
.newsContainer {
  background-color: var(--bg-color);
  max-width: 1300px;
  margin: auto;
}

h2,
h3 {
  color: var(--heading-color);
}
.newsLeft,
.listNewsNoImage {
  background-color: var(--bg-color);
  color: var(--text-color);
}

