/*thiet lap chung */
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
button {
    border-radius: 8px;
    width: 6rem; 
    height: 2rem; 
    font-weight: 500;
    font-size: medium;
    color: white;
    background-color: black;
    cursor: pointer;
}
.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.06);
  transition: box-shadow 0.2s ease;
  cursor: pointer;

}

.card:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.06);
}
.card img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}